.popup {
  width: 430px;
  background-color: #fff;
  border-radius: 4px;
  margin: 280px auto;
}

.header {
  background-color: #f8f9fa;
  text-align: center;
  padding: 40px 0 30px;
  font: normal 26px/38px Roboto;
  color: #222;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #e6e8eb;
}

.body {
  padding: 30px 25px;
}

.tip {
  font: normal 16px/24px Roboto;
  color: #6e7987;
  text-align: center;
}

.input {
  margin-top: 30px;
}

.button {
  margin-top: 15px;
}
