@use postcss-short;

.background {
  size: 100%;
  min-height: 100%;
  position: fixed 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow-y: scroll;
}

.popup {
  width: 430px;
  margin: 0 auto;
}

.close {
  position: absolute 40px 40px * *;

  & button {
    font: normal 17px Roboto;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    color: #444;
  }

  & img {
    width: 14px;
    height: 14px;
    margin-right: 7px;
  }
}
