.status {
  font: normal 10px/16px Roboto;
  color: #fff;
  background-color: #222;
  padding: 0 6px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
}

.pending {
  composes: status;
  background-color: #9da0a4;
}

.success {
  composes: status;
  background-color: #00dc85;
}

.failure {
  composes: status;
  background-color: #ff4c4c;
}
