@use postcss-short;

.pagename {
  & div {
    display: inline-block;
    vertical-align: middle;
  }

  & img {
    size: 36px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }
}
